---
- name: Deploy to EKS namespace using env-specific manifests
  hosts: localhost
  connection: local
  gather_facts: no

  vars:
    env: "{{ env | default('dev') }}"   
    eks_cluster: "{{ eks_cluster | default('eks_cluster-demo') }}"
    aws_region: "{{ aws_region | default('eu-west-2') }}"

    env_dir: "envs/{{ env }}"
    inventory_dir: "{{ env_dir }}/inventory"
    k8s_dir: "{{ env_dir }}/k8s"
    namespace: "{{ env }}"              # dev → dev ns, test → test ns, etc.

  tasks:

    - name: Show deployment parameters
      debug:
        msg:
          - "Environment: {{ env }}"
          - "Namespace : {{ namespace }}"
          - "ENV_DIR   : {{ env_dir }}"
          - "Inventory : {{ inventory_dir }}"
          - "K8S_DIR   : {{ k8s_dir }}"
          - "Cluster   : {{ eks_cluster }}"
          - "Region    : {{ aws_region }}"

    

    

    - name: Apply inventory manifests (configmaps, secrets, etc.)
      ansible.builtin.shell: |
        set -e
        if [ -d "{{ inventory_dir }}" ]; then
          echo "Applying inventory from {{ inventory_dir }}"
          kubectl apply -n {{ namespace }} -f {{ inventory_dir }}
        else
          echo "Inventory directory not found: {{ inventory_dir }}"
        fi

    - name: Apply Kubernetes manifests
      ansible.builtin.shell: |
        set -e
        echo "Applying k8s manifests from {{ k8s_dir }}"
        kubectl apply -n {{ namespace }} -f {{ k8s_dir }}
